UserMaintenance/Connected Services/ServiceProduct/ServiceProduct1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductCreateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCreateDto" nillable="true" type="tns:ProductCreateDto" />
</xs:schema>