UserMaintenance/Connected Services/ServiceUser/ServiceUser3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserCreateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirtDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardNumberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCreateDto" nillable="true" type="tns:UserCreateDto" />
</xs:schema>