UserMaintenance/Connected Services/ServiceInvoiceDetail/ServiceInvoiceDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51161/ServiceInvoiceDetail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
  <xs:complexType name="InvoiceDetailCreateDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="Invoice" nillable="true" type="q1:Invoice" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="Product" nillable="true" type="q2:Product" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="User" nillable="true" type="q3:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceDetailCreateDto" nillable="true" type="tns:InvoiceDetailCreateDto" />
</xs:schema>