UserMaintenance/Connected Services/ServiceInvoice/ServiceInvoice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.ModelsDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51161/ServiceInvoice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Models" />
  <xs:complexType name="InvoiceCreateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateIssued" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Models" minOccurs="0" name="User" nillable="true" type="q1:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceCreateDto" nillable="true" type="tns:InvoiceCreateDto" />
</xs:schema>